*{
	margin: auto;
	box-sizing: border-box;
}

body{
	margin: 40px;
	background-image: url('../img/fondo.jpg');
}

h1{
	margin-left: 20px;
	margin-bottom: -10px;
	margin-top: -5px; 
}

.container{
	border: 1px solid black;
	padding: 10px;
	margin: 20px;
	background: white;
}

.menu {
  	height: 80px;
  	background-color: #B2D6FF; 
  	margin: 0px 20px 3px 20px;   /* Medium blue */
}

.sidebar {
  	height: 120px;
  	background-color: #F09A9D;    /* Red */
	margin: 0px 20px 3px 20px; 
}

.slider{
	height: 350px;
	background-color: pink;
	margin: 0px 20px 3px 20px;
	padding-top: 20px; 
}

.content {
 	height: 200px;
  	background-color: #F5CF8E;    /* Yellow */
	width: 32%;
	display: inline-block;
}

.uno{
	margin: 0px 0px 3px 20px;
	
}

.dos{
	margin: 0px 3px 3px 0px;
	text-align: center;
}

.tres{
	margin: 0px 20px 0px 0px;
	float: right;
}


.footer {
  	height: 70px;
  	background-color: #D6E9FE;  	    /* Light blue */
	margin: 0px 20px 3px 20px; 
}

.opciones{
	float: right;
	padding-right: 20px;
	text-align: center;
	padding-top: 30px;
}


.caja{
	width: 150px;
	height: 150px;
	border: 1px solid black;
	align-content: center;
	float: left;
	margin-right: 5px;
}

.contenido{
		margin-left: 30px;
	margin-top: 20px;
}


.contenido-texto{
	text-align: left;
}

.opciones a{
	padding: 7px;
}

.logo{
	float: left;
	padding: 30px;
}

.contenido-imagen{
	border: 1px solid black;
	width: 90px;
	height: 90px;
}

.cajauno{
	float: left;
	margin: 15px;
}

.cajados{
	width: 200px;
	padding: 20px;
	text-align: center;
}

.cajatres{
	float: right;
	width: 200px;
	height: 100px;
	margin: -20px;
	margin-right: -50px;
}
.redes{
	border: 1px solid black;
	width: 35px;
	height: 35px;
	margin: 2px;
	float: left;

}

.imagengrande{
	width: 95%;
	text-align: center;
	height: 310px;
	border: 1px solid black;
	margin: auto;
}

.contenido-redes{
	float: right;	
	margin-right: 20px;
	margin-top: -20px;
	height: 70px;
}

.mail{
	margin-left: 20px;
}