*{
	margin: auto;
	box-sizing: border-box;
}

body{
	margin: 50px;
	background-image: url('../img/hermoso.jpg');
}

.container{
	border: 1px solid black;
	padding: 5px;
	margin: 20px;
	background-color: pink; 
}

.clearfix{
	overflow: auto;
}

.imagen{
	width: 95%;
	height: 500px;
	background-color: white;
	text-align: center;	
	margin-bottom: 20px;
	margin-top: 20px;
}

.caja{
	width: 36px;
	height: 36px;
	background-color: violet;
	float: left;
	margin: 10px;
	background-color: pink; 
}

.cajas{
	float: right;
	height: 80px;
	clear: left;
	margin-top: 10px;
	margin: 50px;
}

h1{
	margin-left: 20px;
	margin-top: 20px;
}

.formText{
	text-align: center;
}


.footer{
	text-align: center;
	margin: 50px;
	padding: auto;
	clear: none;
}

.caja img{
	width: 36px;
	height: 36px;
}
